
{% load static %}


{% block footer %}
<div id="footer">
    <div>
      <hr
        style="height: 1px; margin: 0px;padding: 0px;opacity: 100%;background-color: black;color: black;border: none;">
    </div>
    <div
      style="padding-bottom: 12px; display:flex; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; justify-content:center; align-items: top;">
      <a href="#default" class="logo"><img src="static/gb.JPG"></a>
    </div>
    <div>
      <hr
        style="height: 1px; margin: 0px;padding: 0px;opacity: 100%;background-color: black;color: black;border: none;">
    </div>
    <div class="row row-cols-2 row-cols-lg-3" style="width:90vw; margin-left: 5vw;display:flex; text-align: center;">
      <div>
        <div class="col"><a href="#about">HAKKIMIZDA</a></div>
        <div class="col"><a href="#about" style="color:#090708">Ödeme ve Teslimat</a> </div>
        <div class="col"><a href="#about" style="color:#090708">İletişim</a></div>
      </div>

      <div>
        <div class="col"><a href="#about">BİZİ TAKİP EDİN</a>></div>
        <div class="col"><a href="#instagram"><i class="fa-brands fa-instagram" style="color:#090708"></i></a>
          <a href="#twitter"><i class="fa-brands fa-twitter" style="color:#090708"></i></a>
          <a href="#facebook"><i class="fa-brands fa-facebook" style="color:#090708"></i></a>
          <a href="#youtube"><i class="fa-brands fa-youtube" style="color:#090708"></i></a>
        </div>
        <div class="col"><a href="#maker" style="color:#090708">GB Frangrances LTD ŞTİ</a></div>
      </div>
      <div>
        <div class="col"><a href="#about">WhatsApp Listemize Katılın</a></div>


        <div class="row">
          <div class="col">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nisi, suscipit autem? Repellat vero earum
              deserunt incidunt minus maxime doloremque qui ea fugiat quaerat quis, laborum id quo velit dicta
              aliquid! lorem</p>
          </div>
        </div>
      </div>



    </div>
    <div style="display: flex; justify-content: center; align-items: center;">
      <p style="margin-top: 20px;margin-bottom:0px;font-size: xx-small;">All rights reserved 2022 Kocaeli/Turkey </p>
    </div>
  </div>

</div>
{% endblock %}
</body>