
{% load static %}


{% block header %}
<div>
    <div class="header"
      style="display:flex; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; justify-content:center; align-items: center;">
</div>
<hr style="height: 1px; margin: 0px;padding: 0px;opacity: 100%;background-color: black;color: black;border: none;">
<div class="header"
  style="display:flex; font-family:Georgia, 'Times New Roman', Times, serif; justify-content:space-around; align-items: center;">
  <div class="header-right" styşe="font-family: Forteast-Demo;">
    <a href="main">ANASAYFA</a>
    <a href="products">PARFÜMLER</a>
    <!-- <a href="#brands">MARKALAR</a> target="_blank" -->
    <a href="about">HAKKIMIZDA</a>
    <a href="comments">YORUMLAR</a>
    <a href="contact">İLETİŞİM</a>

    <a href="https://www.instagram.com/gbfragrances.tr/" target="_blank">
      <i class="fa-brands fa-instagram"></i></a>
    <a href="#twitter"><i class="fa-brands fa-twitter"></i></a>
  </div>
</div>
<hr style="height: 1px; margin: 0px;padding: 0px;opacity: 100%;background-color: black;color: black;border: none;">

<div class="header2"
  style="padding:10px; background-color:#090708; display:flex; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; justify-content:space-between; align-items: center;">
  <a href="#default"></a>
  <a href="#default" class="logo"><img src="static/gb.JPG" style="margin-left: 300px;"></a>
  <div style="display:flex-end; align-items:flex-end;">
    <i class="fa-sharp fa-solid fa-magnifying-glass" style="color:#fff"></i><a><input type="text"
        placeholder="Ara.." style="width: 300px; border-radius: 14px;"></a>
  </div>
</div>
{% endblock %}